*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.main-header .main-box{
    position: static;
}
.main-menu .navigation > li > a{
    color: #000;
}
@media (min-width: 992px) {
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding: 0;
    }
}
.home-bg {
    background-size: 100% 100% !important;
    min-height: 90vh; /* Full screen height */
    display: flex;
    align-items: center; /* Vertical center */
}

.home-left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-head {
    font-weight: 400;
    font-size: 60px;
    color: #fff;
    line-height: 70px !important;
}
.home-left p{
    font-weight: 400;
    font-style: Medium;
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
    margin-bottom: 0 !important;
}
.btn{
    background-color: #E5B122 !important;
    padding: 10px 20px;
    border-radius: 0 !important;
}
.btn:hover{
    color: #E5B122 !important;
    background-color: #fff !important;
}
.main-menu .navigation > li{
    padding: 0 !important;
}

.sec-head{
    font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 40px;
color: #022A5B;

}
.sec-p{
    color: #5C6266;
}

.service-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 20px 0;
    border-bottom: 1px solid #cfcfcf;
    transition: 0.5s;
    position: relative;
    z-index: 10;
}
.service-box::before{
    content: '';
    background-color: #E5B122;
    position: absolute;
    height: 0%;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
    transform: skew(20deg);
}
.service-box:hover::before{
    height: 100%;
    transform: skew(0);
}
.serv{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
    flex: 1;
}
.serv p{
    padding-right: 50px;
    border-right: 1px solid #5C6266;
    width: 60%;
}
.serv-img img{
    width: 150px;
    position: relative;
    z-index: 10;
}
.nums{
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 1;
}
.num{
    padding:20px 40px;
    border-right: 1px solid #5C6266;
}

.num h4{
    height: 50px;
    width: 50px;
    display: grid;
    place-content: center;
    border: 1px solid #022A5B;
    border-radius: 50%;
}
.nums h3{
    color: #022A5B !important;
    font-size: 26px !important;
    font-weight:500 ;
}
.about-head{
    display: flex;
    gap: 20px;
    align-items: center;
}
.about-text h2{
    font-size: 70px;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 2px #E5B122;
}
.about-section {
    background-color: #424141;
    background-repeat: no-repeat;
    background-size: cover; /* or contain, based on your design */
    background-position: center;
    margin-top: 40px;
}
.about-bg{
    background-image: url(../images/new-home/about-bg.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 120px 0;
}
.about-p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.about-section h5{
    color: #E5B122;
    font-size: 20px;
    font-weight: 500;
}
.about-info h3{
    color: #E5B122;
    font-size: 30px;
    font-weight: 600;
    border-bottom:1px solid #5C6266;
    display: inline;
    padding-bottom: 20px;
}
.about-info p{
    color: #fff;
    padding-top: 40px;
}

.benifits{
    padding: 50px 0;
}
.benifits-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
}
.benifits-box .img{
    width: 50px;
}
.benifits h3{
    font-size: 20px;
    color: #022A5B;
    font-weight: bold;
}
.benifits-box p{
    text-align: center;
}
.arrow-img{
    position: absolute;
    top: 0;
    right: -20%;
    width: 150px;
}
.project{
    background-color: #424141;
    padding: 40px 0;
}
.project h2{
    font-size: 40px;
    font-weight: 500;
    color: #fff;
}
.project p{
    color: #fff;
}
.splide__track--draggable{
    margin-left: 200px;
}
.splide_card{
    background-color: rgb(255, 255, 255,0.1);
    padding: 20px;
    border-radius: 16px;
}
.splide_card h3{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}

.industry{
    padding: 40px 0;
    width: 95%;
    margin: 0 auto;
}


.industry-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.num-div{    
    border: 1px solid #E5B122;
    border-radius: 50%;
    padding: 10px;
}
.num-in-div{
    background-color: #fff;
    height:100px;
    width: 100px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    border: 10px solid #e0e0e0;
}
.ar-img{
    position: absolute;
    right: -30%;
    width: 90px;
}
.ar-img2{
    position: absolute;
    right: -20%;
    width: 90px;
    transform: scaleY(-1);
}
.industry-box h3{
    font-size: 20px;
    color: #022A5B;
    font-weight: bold;
    white-space:nowrap;
}
.new-footer{
    background-color:#141A29;
}
.footer-left h2{
    font-size: 90px;
    color: #fff;
    font-weight: 400;
    line-height: 95px;
}
.new-footer ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.new-footer ul li {
  font-size: 15px;
  color: #dcdcdc;
  cursor: pointer;
  margin-bottom: 20px;
}
.footer-left{
    padding: 80px 0;
}
.footer-right .col{
    padding: 40px 0 !important;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.social .icon-div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #a3a3a3;
    display: grid;
    place-content: center;
}
.icon-div i{
    color: #fff;
}



@media screen and (max-width:700px){
    .seprator{
        height: 0;
    }
    .home-bg{
        background-size: 200% 100% !important;
        align-items: start;
        min-height: 70vh;
        padding: 60px 0 0;
    }
    .home-head{
        font-size: 30px;
        line-height: 40px !important;
        margin-top: 20px;
    }
    .service-box{
        flex-direction: column;
    }
    .serv{
        flex-direction: column;
    }
    .serv p{
        padding-right: 0;
        border: none;
        text-align:center;
        width: 100%;
    }
    .nums{
        flex-direction: column;
        gap: 0;
    }
    .num{
        border:none;
    }
    .about-bg{
        padding: 20px 0;
    }
    .about-head{
        flex-direction: column;
    }
    .about-text h2{
        font-size:40px;
    }
    .about-head img{
        width: 200px;
    }
    .about-p{
        font-size: 16px;
    }
    .arrow-img{
        position: static;
        transform: rotate(90deg);
        width: 100px;
    }
    .arrow-img-2{
        transform: rotate(90deg) scaleY(-1) !important;
    }
    .benifits-box{
        margin: 20px;
    }
    .splide__track--draggable{
        margin: 10px;
    }
    .industry-row{
        flex-wrap: nowrap !important;
        flex-direction: column !important;
        align-items: start !important;
        justify-content: start !important;
        overflow-x: hidden !important;
    }
    .industry-box{
        flex-direction: row;
        padding: 30px 10px;
        justify-content: start;
    }
    .industry .row .col:nth-child(even) .industry-box {
        flex-direction: row-reverse;
    }
    .num-in-div{
        width: 50px;
        height: 50px;
        border: none;
    }
    .industry-box h3{
        text-align: left !important;
        font-size: 16px;
    }
    .industry-box p{
        text-align: left !important;
    }
    .industry-box img{
        transform: rotate(270deg);
        margin: 0px 30px;
        width: 7px;
    }
    .industry .row .col:nth-child(even) .imgg{
        transform: rotate(90deg);
    }
    .footer-left h2{
        font-size: 40px;
    }
    .footer-right .col{
        border: none !important;
        padding:0 !important;
    }
    .social{
        padding: 20px 0;
    }
    .footer-left{
        padding: 30px 0;
    }
    .footer-left h2{
        line-height: 60px;
    }
}